workflows/FLOR | WhatsApp Inbound Principal | Sprint 6A Multimodal Mothers Day Sales.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "julia",
        "options": {}
      },
      "id": "b44f3f64-3f1f-40f8-a830-c4e2800d7c2f",
      "name": "WEBHOOK EVOLUTION | FLOR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-14096, -1256],
      "webhookId": "flor-whatsapp-inbound-s6"
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n\nfunction firstNonEmpty() {\n  for (let i = 0; i < arguments.length; i++) {\n    const value = arguments[i];\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return value;\n    }\n  }\n  return '';\n}\n\nfunction onlyDigits(value) {\n  return String(value || '').replace(/\\D/g, '');\n}\n\nfunction getByPath(obj, path) {\n  try {\n    return path.split('.').reduce((cur, p) => {\n      if (cur === undefined || cur === null) return '';\n      return cur[p];\n    }, obj) ?? '';\n  } catch (e) {\n    return '';\n  }\n}\n\nfunction normalizeBrazilWhatsappPhone(value) {\n  let raw = String(value || '');\n  let digits = onlyDigits(raw.split('@')[0]);\n\n  if (!digits) return '';\n\n  digits = digits.replace(/^0+/, '');\n\n  // Se veio sem DDI, assume Brasil.\n  if (!digits.startsWith('55')) {\n    if (digits.length === 10 || digits.length === 11) {\n      digits = '55' + digits;\n    }\n  }\n\n  // Regra validada:\n  // 554588230845@s.whatsapp.net -> 5545988230845\n  // 55 + DDD + 8 dígitos iniciando em 6/7/8/9 -> inserir nono dígito.\n  if (digits.startsWith('55') && digits.length === 12) {\n    const ddd = digits.slice(2, 4);\n    const subscriber = digits.slice(4);\n\n    if (/^[6-9]/.test(subscriber)) {\n      digits = '55' + ddd + '9' + subscriber;\n    }\n  }\n\n  return digits;\n}\n\nfunction getMessageText(message) {\n  if (!message || typeof message !== 'object') return '';\n\n  const orderCount = getByPath(message, 'orderMessage.itemCount');\n  const orderFallback = orderCount ? 'Pedido/carrinho com ' + orderCount + ' itens' : '';\n\n  return firstNonEmpty(\n    getByPath(message, 'conversation'),\n    getByPath(message, 'extendedTextMessage.text'),\n    getByPath(message, 'imageMessage.caption'),\n    getByPath(message, 'videoMessage.caption'),\n    getByPath(message, 'documentMessage.caption'),\n    getByPath(message, 'buttonsResponseMessage.selectedDisplayText'),\n    getByPath(message, 'buttonsResponseMessage.selectedButtonId'),\n    getByPath(message, 'listResponseMessage.title'),\n    getByPath(message, 'listResponseMessage.singleSelectReply.selectedRowId'),\n    getByPath(message, 'templateButtonReplyMessage.selectedDisplayText'),\n    getByPath(message, 'templateButtonReplyMessage.selectedId'),\n    getByPath(message, 'orderMessage.orderTitle'),\n    orderFallback\n  );\n}\n\nfunction detectMessageType(data, message) {\n  const declared = firstNonEmpty(\n    getByPath(data, 'messageType'),\n    getByPath(data, 'type')\n  );\n\n  if (declared) {\n    const d = String(declared).toLowerCase();\n\n    if (d.includes('image')) return 'image';\n    if (d.includes('audio')) return 'audio';\n    if (d.includes('video')) return 'video';\n    if (d.includes('document')) return 'document';\n    if (d.includes('order')) return 'cart';\n    if (d.includes('cart')) return 'cart';\n    if (d.includes('location')) return 'location';\n    if (d.includes('contact')) return 'contact';\n    if (d.includes('conversation') || d.includes('text')) return 'text';\n  }\n\n  if (!message || typeof message !== 'object') return 'unknown';\n\n  if (message.conversation || message.extendedTextMessage) return 'text';\n  if (message.imageMessage) return 'image';\n  if (message.audioMessage || message.pttMessage) return 'audio';\n  if (message.videoMessage) return 'video';\n  if (message.documentMessage) return 'document';\n  if (message.orderMessage) return 'cart';\n  if (message.locationMessage) return 'location';\n  if (message.contactMessage || message.contactsArrayMessage) return 'contact';\n\n  return 'unknown';\n}\n\nfunction toIsoTimestamp(value) {\n  if (!value) return new Date().toISOString();\n\n  if (typeof value === 'number') {\n    if (value < 10000000000) {\n      return new Date(value * 1000).toISOString();\n    }\n\n    return new Date(value).toISOString();\n  }\n\n  const parsed = new Date(value);\n  if (!Number.isNaN(parsed.getTime())) return parsed.toISOString();\n\n  return new Date().toISOString();\n}\n\n// Ponto principal da correção:\n// o Webhook do n8n entrega a Evolution dentro de $json.body.\nconst envelope = $json || {};\nconst payload = envelope.body || envelope;\n\nconst data =\n  payload.data ||\n  payload.message ||\n  (payload.messages && payload.messages[0]) ||\n  payload;\n\nconst key = data.key || payload.key || {};\nconst message = data.message || payload.message || {};\n\nconst remoteJid = firstNonEmpty(\n  key.remoteJid,\n  key.remoteJidAlt,\n  data.remoteJid,\n  data.from,\n  data.chatId,\n  payload.remoteJid,\n  payload.from,\n  payload.chatId,\n  data.sender,\n  payload.sender\n);\n\nconst fromMe = Boolean(\n  key.fromMe !== undefined ? key.fromMe :\n  data.fromMe !== undefined ? data.fromMe :\n  payload.fromMe !== undefined ? payload.fromMe :\n  false\n);\n\nconst messageText = String(\n  firstNonEmpty(\n    getMessageText(message),\n    data.text,\n    payload.text,\n    data.body,\n    payload.body\n  )\n).trim();\n\nconst messageType = detectMessageType(data, message);\n\nconst pushName = String(firstNonEmpty(\n  data.pushName,\n  data.senderName,\n  payload.pushName,\n  payload.senderName,\n  data.notifyName,\n  'Cliente WhatsApp'\n)).trim();\n\nconst phoneNormalized = normalizeBrazilWhatsappPhone(remoteJid);\n\nconst messageId = firstNonEmpty(\n  key.id,\n  data.id,\n  payload.id,\n  data.messageId,\n  payload.messageId\n);\n\nconst instance = firstNonEmpty(\n  payload.instance,\n  data.instance,\n  payload.instanceName,\n  data.instanceName,\n  'julia'\n);\n\nconst event = firstNonEmpty(\n  payload.event,\n  data.event,\n  ''\n);\n\nlet mediaUrl = '';\nlet mediaKey = null;\n\nif (message.audioMessage || message.pttMessage) {\n  const audioMsg = message.audioMessage || message.pttMessage;\n  mediaUrl = firstNonEmpty(audioMsg.url, audioMsg.directPath);\n  mediaKey = key;\n}\n\nif (message.imageMessage) {\n  mediaUrl = firstNonEmpty(message.imageMessage.url, message.imageMessage.directPath);\n  mediaKey = key;\n}\n\nif (message.videoMessage) {\n  mediaUrl = firstNonEmpty(message.videoMessage.url, message.videoMessage.directPath);\n  mediaKey = key;\n}\n\nif (message.documentMessage) {\n  mediaUrl = firstNonEmpty(message.documentMessage.url, message.documentMessage.directPath);\n  mediaKey = key;\n}\n\nlet skip = false;\nlet reason = '';\n\nif (fromMe) {\n  skip = true;\n  reason = 'fromMe';\n}\n\nif (String(remoteJid || '').includes('@g.us')) {\n  skip = true;\n  reason = 'group';\n}\n\nif (String(remoteJid || '').includes('status@broadcast')) {\n  skip = true;\n  reason = 'status';\n}\n\nif (!phoneNormalized) {\n  skip = true;\n  reason = reason || 'phone_not_found';\n}\n\nconst textNorm = messageText\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\nconst rawPayload = {\n  event,\n  instance,\n  key,\n  pushName,\n  message_type: messageType,\n  messageTimestamp: firstNonEmpty(\n    data.messageTimestamp,\n    payload.messageTimestamp,\n    data.timestamp,\n    payload.timestamp\n  )\n};\n\nreturn [{\n  json: {\n    phone_normalized: phoneNormalized,\n    push_name: pushName,\n    instance,\n    message_id: messageId,\n    message_type: messageType,\n    message_text: messageText,\n    message_text_normalized: textNorm,\n    message_timestamp: toIsoTimestamp(firstNonEmpty(\n      data.messageTimestamp,\n      payload.messageTimestamp,\n      data.timestamp,\n      payload.timestamp\n    )),\n    media_url: mediaUrl,\n    media_key_json: mediaKey || null,\n    raw_payload: rawPayload,\n    full_payload: payload,\n    remote_jid: remoteJid,\n    external_contact_id: remoteJid,\n    channel: 'whatsapp',\n    from_me: fromMe,\n    event,\n    skip\n  }\n}];"
      },
      "id": "8b44f477-778b-486c-8a1e-ff00b472e7b8",
      "name": "NORMALIZA PAYLOAD WHATSAPP | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-13872, -1256]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "phone-check",
              "leftValue": "={{ $json.phone_normalized }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c73d883-99d7-487c-8125-df8e4c82cd18",
      "name": "DEVE PROCESSAR? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-13648, -1256]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'flor:human_lock:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "options": {}
      },
      "id": "0f1e25f3-13c7-4682-b190-0d550e3dce2b",
      "name": "REDIS: GET HUMAN LOCK | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-13200, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "lock-check",
              "leftValue": "={{ $json.value || $json.propertyName || '' }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "053ae9a8-ec01-4478-8120-9c7469addac7",
      "name": "HUMAN TAKEOVER ATIVO? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-12976, -1160]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'flor:buffer:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "options": {}
      },
      "id": "d948c11c-2a21-411f-8679-a8f964e4b88f",
      "name": "REDIS: GET BUFFER ATUAL | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12752, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst norm = $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json;\nconst bufRaw = $json.value || $json.propertyName || '';\n\nlet existing = [];\ntry {\n  if (bufRaw && typeof bufRaw === 'string' && bufRaw.startsWith('[')) {\n    existing = JSON.parse(bufRaw) || [];\n  }\n} catch (_) {}\n\nconst newMsg = {\n  message_id: norm.message_id,\n  message_text: norm.message_text || '',\n  message_type: norm.message_type || 'text',\n  media_url: norm.media_url || '',\n  ts: Date.now()\n};\n\nexisting.push(newMsg);\n\n// Keep last 10 messages max\nif (existing.length > 10) existing = existing.slice(-10);\n\nreturn [{ json: { ...norm, buffer: existing, buffer_json: JSON.stringify(existing) } }];"
      },
      "id": "f9dddb38-de82-4f0b-bfc4-d9cfb7a5f280",
      "name": "CODE: ATUALIZA BUFFER | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-12528, -1160]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'flor:buffer:' + $json.phone_normalized }}",
        "value": "={{ $json.buffer_json }}",
        "expire": true,
        "ttl": 120
      },
      "id": "30701a6f-4f5d-4abf-8d31-2de1c53b371f",
      "name": "REDIS: SET BUFFER | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12304, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'flor:last_msg_id:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "value": "={{ $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.message_id }}",
        "expire": true,
        "ttl": 120
      },
      "id": "c4d8950a-1fd6-4347-a187-2b0a2675a4e7",
      "name": "REDIS: SET LAST MSG ID | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12080, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "5a774e8e-a621-4b26-8875-6217a5744f2f",
      "name": "WAIT 2S | S6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [-11856, -1160],
      "webhookId": "36f6329c-0792-420b-8506-e4bdfc90b7e0"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'flor:last_msg_id:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "options": {}
      },
      "id": "a5adf31f-ff54-420a-bfc5-f88ed5a7ab1f",
      "name": "REDIS: GET LAST MSG ID | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-11632, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "msgid-check",
              "leftValue": "={{ $json.value || $json.propertyName || '' }}",
              "rightValue": "={{ $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.message_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73b5a0d6-0264-402c-9f2e-1152c4e9b036",
      "name": "AINDA É O MAIS RECENTE? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-11408, -1160]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'flor:buffer:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "options": {}
      },
      "id": "1ad0ad1d-0331-41ff-9a5e-32d91791cad5",
      "name": "REDIS: GET BUFFER FINAL | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-11184, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Monta contexto final a partir do buffer acumulado\nconst norm = $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json;\nlet buffer = [];\ntry {\nconst raw = $json.value || $json.propertyName || '';\n  if (raw && typeof raw === 'string' && raw.startsWith('[')) {\n    buffer = JSON.parse(raw) || [];\n  }\n} catch (_) {}\n\nif (buffer.length === 0) {\n  buffer = [{\n    message_id: norm.message_id || '',\n    message_text: norm.message_text || '',\n    message_type: norm.message_type || 'text',\n    media_url: norm.media_url || '',\n    ts: Date.now()\n  }];\n}\n\n// Merge text messages\nconst mergedText = buffer\n  .map(m => (m.message_text || '').trim())\n  .filter(Boolean)\n  .join('\\n');\n\nconst mergedTextNorm = mergedText.toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n\n// Detect special types in buffer (priority: cart > audio > image > text)\nconst hasCart = buffer.some(m => m.message_type === 'cart');\nconst hasAudio = buffer.some(m => m.message_type === 'audio');\nconst hasImage = buffer.some(m => m.message_type === 'image');\n\nlet effectiveType = 'text';\nif (hasCart) effectiveType = 'cart';\nelse if (hasAudio) effectiveType = 'audio';\nelse if (hasImage) effectiveType = 'image';\nelse if (buffer.length === 1) effectiveType = norm.message_type;\n\n// Get media URL/key from the relevant buffer message\nconst mediaMsg = buffer.find(m => ['audio', 'image', 'video'].includes(m.message_type));\nconst mediaUrl = mediaMsg?.media_url || norm.media_url || '';\n\nreturn [{\n  json: {\n    ...norm,\n    message_text: mergedText || norm.message_text || '',\n    message_text_normalized: mergedTextNorm || norm.message_text_normalized || '',\n    message_type: effectiveType,\n    buffer_count: buffer.length,\n    buffer_messages: buffer,\n    has_audio: hasAudio,\n    has_image: hasImage,\n    has_cart: hasCart,\n    media_url: mediaUrl,\n    transcription: null,\n    visual_description: null\n  }\n}];"
      },
      "id": "64a324f2-3aae-4cc7-a32d-f40accecf6be",
      "name": "CODE: MONTA CONTEXTO | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-10960, -1160]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:buffer:' + $json.phone_normalized }}"
      },
      "id": "03d780f9-b73c-49b4-8967-bdfd804dbefa",
      "name": "REDIS: DEL BUFFER | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-10736, -1160],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-check",
              "leftValue": "={{ $('CODE: MONTA CONTEXTO | S6').item.json.has_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "685a018a-52a1-4b6a-a7b4-60d9660a09b2",
      "name": "IF: HAS AUDIO? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-10512, -1160]
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Prepara parâmetros para download de áudio via Evolution\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json;\nconst fullPayload = norm.full_payload || {};\nconst data = fullPayload.data || fullPayload;\nconst key = data.key || {};\n\n// Tenta extrair URL do media direto do payload\nconst message = data.message || {};\nconst audioMsg = message.audioMessage || message.pttMessage || {};\nconst directUrl = audioMsg.url || norm.media_url || '';\n\nreturn [{\n  json: {\n    ...norm,\n    audio_direct_url: directUrl,\n    evolution_key: key,\n    instance: norm.instance || '',\n    needs_evolution_download: !directUrl || directUrl.includes('whatsapp.net')\n  }\n}];"
      },
      "id": "8676e18f-2397-4cef-ba0e-00bc9ff46807",
      "name": "CODE: PREP AUDIO | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-10288, -1232]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cheatingbat-evolution.cloudfy.live/message/getBase64FromMediaMessage/julia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.evolution_key }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "48206b5d-8faf-42ab-a701-6c8456938dd0",
      "name": "HTTP: EVOLUTION GET AUDIO | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-10064, -1232],
      "credentials": {
        "evolutionApi": {
          "id": "hUhH7ahIVjr2lysL",
          "name": "evolution_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Converte base64 do Evolution para binary data do n8n\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json;\nconst evolutionResp = $json;\n\nconst b64 = evolutionResp.base64 || evolutionResp.media || evolutionResp.data || '';\n\nif (!b64 || evolutionResp.error) {\n  // Evolution download failed — return flag for fallback\n  return [{ json: { ...norm, audio_b64_missing: true, audio_error: evolutionResp.error || 'No base64 from Evolution' } }];\n}\n\nconst ext = evolutionResp.ext || evolutionResp.mediaType?.split('/')[1] || 'ogg';\nconst mimeMap = { ogg: 'audio/ogg', mp4: 'audio/mp4', mp3: 'audio/mpeg', m4a: 'audio/mp4', wav: 'audio/wav', opus: 'audio/ogg' };\nconst mime = mimeMap[ext] || 'audio/ogg';\n\nconst buf = Buffer.from(b64, 'base64');\nconst binaryData = await $helpers.prepareBinaryData(buf, 'audio.' + ext, mime);\n\nreturn [{\n  json: { ...norm, audio_mime: mime, audio_ext: ext, audio_size: buf.length, audio_b64_missing: false },\n  binary: { data: binaryData }\n}];"
      },
      "id": "be2591b1-54f9-449e-bbaf-c9fb8b9d54a4",
      "name": "CODE: AUDIO TO BINARY | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-9840, -1232],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Merge transcription result. Handles success and all failure modes.\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json;\nconst current = $json;\n\n// Check if previous steps failed\nif (norm.audio_b64_missing) {\n  return [{ json: {\n    ...norm,\n    message_text: norm.message_text || '🎙️ [Áudio recebido — não foi possível transcrever]',\n    transcription: null,\n    audio_processed: false,\n    agent_note: 'AUDIO_DOWNLOAD_FAILED'\n  }}];\n}\n\n// Check OpenAI transcription result\nconst transcription = current.text || current.transcription || '';\n\nif (!transcription && current.error) {\n  return [{ json: {\n    ...norm,\n    message_text: norm.message_text || '🎙️ [Áudio recebido — transcrição indisponível]',\n    transcription: null,\n    audio_processed: false,\n    agent_note: 'TRANSCRIPTION_FAILED'\n  }}];\n}\n\nreturn [{ json: {\n  ...norm,\n  message_text: transcription || norm.message_text || '',\n  transcription: transcription,\n  audio_processed: true,\n  agent_note: transcription ? 'AUDIO_TRANSCRIBED' : 'AUDIO_EMPTY'\n}}];"
      },
      "id": "47ca4dd6-f085-4635-b189-aa64bb252a0a",
      "name": "CODE: MERGE AUDIO | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-9392, -1232]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image-check",
              "leftValue": "={{ $('CODE: MONTA CONTEXTO | S6').item.json.has_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eba7efc6-96ae-4549-99a5-78ce0a61d0da",
      "name": "IF: HAS IMAGE? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-9168, -1160]
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Extrai URL da imagem do payload Evolution\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json;\nconst fullPayload = norm.full_payload || {};\nconst data = fullPayload.data || fullPayload;\nconst message = data.message || {};\nconst imgMsg = message.imageMessage || {};\n\n// Use direct URL if available and not ephemeral whatsapp URL\nlet imageUrl = imgMsg.url || norm.media_url || '';\n\n// If it's an ephemeral WA URL, use thumbnail base64 as data URL fallback\nif (!imageUrl || imageUrl.includes('whatsapp.net') || imageUrl.includes('enc')) {\n  const thumb = imgMsg.jpegThumbnail;\n  if (thumb) {\n    imageUrl = 'data:image/jpeg;base64,' + thumb;\n  }\n}\n\nreturn [{\n  json: {\n    ...norm,\n    image_url: imageUrl,\n    image_caption: imgMsg.caption || norm.message_text || ''\n  }\n}];"
      },
      "id": "a88cdea1-6e00-465f-93e9-6f134ac1e87b",
      "name": "CODE: PREP IMAGE | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8944, -1232]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://flordoestudante.com.br"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-4o-mini"
            },
            {
              "name": "max_tokens",
              "value": "400"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"Você é um assistente de floricultura. Analise esta imagem e responda em português:\\n1. O que aparece na imagem? (tipo de flor, arranjo, buquê, planta, produto, pessoa, comprovante de pagamento)\\n2. Se for arranjo/flor: descreva estilo, cores predominantes e ocasião sugerida.\\n3. Se for comprovante de pagamento: confirme que parece ser um comprovante.\\n4. Se for outra coisa: descreva brevemente.\\nSeja conciso (máx 3 frases).\"},{\"type\":\"image_url\",\"image_url\":{\"url\":$json.image_url}}]}]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "94d1ff98-1b4a-4d5b-9ba8-472c16e4fbca",
      "name": "HTTP: OPENAI VISION | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-8720, -1232],
      "credentials": {
        "openRouterApi": {
          "id": "4BdzzO60z91H2fqA",
          "name": "openrouter_cloudfy"
        }
      },
      "continueOnFail": true,
      "notes": "Uses OpenRouter for vision — more reliable for URL-based image content than native n8n OpenAI node. Native node doesn't support image_url content type in current n8n 2.13.2."
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n// Merge image vision result\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json;\nconst current = $json;\n\nlet visualDesc = '';\ntry {\n  visualDesc = current.choices?.[0]?.message?.content || current.error?.message || '';\n} catch (_) { visualDesc = ''; }\n\nif (!visualDesc || current.error) {\n  return [{ json: {\n    ...norm,\n    visual_description: null,\n    image_processed: false,\n    agent_note: (norm.agent_note || '') + ' IMAGE_ANALYSIS_FAILED'\n  }}];\n}\n\n// Detect payment receipt\nconst isPaymentReceipt = /comprovante|pagamento|pix|transferencia|receipt/i.test(visualDesc);\n\nreturn [{ json: {\n  ...norm,\n  visual_description: visualDesc,\n  image_processed: true,\n  is_payment_receipt: isPaymentReceipt,\n  message_text: norm.message_text || ('[Imagem: ' + visualDesc.substring(0, 100) + ']'),\n  agent_note: (norm.agent_note || '') + (isPaymentReceipt ? ' PAYMENT_RECEIPT' : ' IMAGE_REFERENCE')\n}}];"
      },
      "id": "10e91dee-5c07-4d8f-aa99-9e71815d9c8f",
      "name": "CODE: MERGE IMAGE | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8496, -1232]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [-9616, -1232],
      "id": "d8028afd-c87b-4ba9-8492-bec239564b55",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "RjXPvvZ9NBpReHAF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_get_conversation_context",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_phone_normalized: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized, p_channel: 'whatsapp', p_recent_limit: 10 }) }}",
        "options": {}
      },
      "id": "5852ee32-2cf2-4ee0-9b38-8abc9baed1c0",
      "name": "HTTP: SUPABASE GET CONTEXT | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-8272, -1160],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst norm = $('CODE: MONTA CONTEXTO | S6').item.json || {};\nconst ctx = $json || {};\n\nconst customer = ctx.customer || {};\nconst conversation = ctx.conversation || {};\nconst recentMessages = Array.isArray(ctx.recent_messages) ? ctx.recent_messages : [];\nconst currentOrder = ctx.current_order || {};\nconst currentItems = Array.isArray(ctx.current_order_items) ? ctx.current_order_items : [];\n\nconst phone = norm.phone_normalized || '';\nconst customerName = customer.full_name || norm.push_name || 'cliente';\nconst isExisting = Boolean(customer.is_existing_customer || customer.id || ctx.customer_id);\nconst convStage = conversation.stage || 'new';\nconst humanLock = conversation.human_takeover || false;\nconst conversationId = ctx.conversation_id || conversation.id || null;\nconst customerId = ctx.customer_id || customer.id || null;\nconst catalogBase = String($vars.CATALOG_BASE_URL || 'https://flordoestudante-floricultura-web.vercel.app').replace(/\\/+$/, '');\n\nconst currentOrderId = currentOrder.order_id || currentOrder.id || ctx.current_order_id || null;\nconst currentOrderCode = currentOrder.public_code || currentOrder.order_public_code || ctx.current_order_public_code || null;\n\nconst historyText = recentMessages.slice(-8).map(m => {\n  const who = m.sender_type === 'agent' ? '🤖 Agente' : '👤 Cliente';\n  return `${who}: ${(m.body || '').substring(0, 200)}`;\n}).join('\\n');\n\nlet orderContext = '';\nif (currentOrderId) {\n  orderContext = `Pedido atual: ${currentOrderCode || currentOrderId} (${currentOrder.status || 'draft'})\\n`;\n  orderContext += `  Total: R$ ${currentOrder.total_amount || currentOrder.current_order_total_amount || '?'}\\n`;\n  orderContext += `  Entrega: ${currentOrder.fulfillment_type || '?'}\\n`;\n  if (currentItems.length > 0) {\n    orderContext += `  Itens: ${currentItems.map(i => `${i.product_name || i.name || i.item_name || 'item'} x${i.quantity || 1}`).join(', ')}\\n`;\n  }\n}\n\nlet enrichedInput = norm.message_text || '';\nif (norm.transcription) enrichedInput = `[Áudio transcrito]: ${norm.transcription}`;\nif (norm.visual_description) enrichedInput += (enrichedInput ? '\\n' : '') + `[Imagem analisada]: ${norm.visual_description}`;\nif (String(norm.agent_note || '').includes('PAYMENT_RECEIPT')) enrichedInput += '\\n[SISTEMA: Cliente enviou o que parece ser comprovante de pagamento]';\n\nconst SYSTEM_PROMPT = `Você é Ana, atendente virtual da Flor do Estudante 🌸 — floricultura especializada em flores, arranjos, buquês, cestas e presentes.\n\nDATA DE HOJE: ${new Date().toLocaleDateString('pt-BR')} — período de campanha do Dia das Mães 💐\n\nREGRAS COMERCIAIS:\n1. Priorize SEMPRE o Dia das Mães. Se o cliente não especificar ocasião, pergunte.\n2. Finalize vendas de forma autônoma — não transfira para humano apenas para fechar pedido/pagamento.\n3. NUNCA invente produtos ou preços. Use apenas dados do catálogo fornecido pelo workflow.\n4. Não bloqueie por disponibilidade de estoque — diga \"posso montar esse pedido para você\".\n5. Faça UMA pergunta por resposta. Seja objetivo e caloroso.\n6. Quando sugerir produto com slug, inclua o link: ${catalogBase}/produto/{slug}\n7. Para pagamento: aceite PIX, cartão ou pagamento na entrega/retirada conforme disponível.\n8. Se o cliente informar preferência clara como “flores do campo”, “rosas”, “girassol”, “cesta”, “buquê” ou orçamento, use action=search_catalog imediatamente.\n\nREGRA DE ESCOLHA / COMPRA:\nSe o cliente disser algo como \"vou querer\", \"quero esse\", \"pode ser esse\", \"vou levar\", \"fecha esse\", \"quero a cesta\", \"quero o buquê\", \"sim, esse mesmo\", \"pode montar\" ou \"pode fechar\" e houver produto claro na mensagem ou no histórico recente, a action correta é create_order_draft, não search_catalog.\n\nSe ainda precisar localizar o item no catálogo para obter item_id/preço, use search_catalog apenas como etapa técnica, mas a próxima ação do workflow deve criar o pedido rascunho automaticamente quando encontrar correspondência forte.\n\nNunca responda novamente com lista de opções quando o cliente já escolheu uma opção clara.\n\nACTIONS DISPONÍVEIS:\n- ask_info\n- search_catalog\n- create_order_draft\n- update_order_draft\n- prepare_checkout\n- parse_whatsapp_cart\n- handoff_human\n\nSTAGES PERMITIDOS:\nidentificando_necessidade, coletando_ocasiao, coletando_preferencia, coletando_orcamento, consultando_catalogo, buscando_opcoes, apresentando_opcoes, pedido_em_montagem, confirmando_pedido, coletando_entrega_ou_retirada, coletando_destinatario, coletando_mensagem_cartao, finalizando_pagamento, aguardando_pagamento, handoff, erro.\n\nQuando action=search_catalog:\n- agent_reply deve ser uma frase curta de transição, não uma pergunta.\n- Exemplo: \"Perfeito, vou separar algumas opções nesse estilo para você 🌸\"\n- A resposta final com produtos será montada após a busca no catálogo.\n\nFLUXO SUGERIDO:\n1. Entender ocasião/preferência/orçamento → buscar catálogo.\n2. Sugerir 2-3 opções com link e preço.\n3. Confirmar escolha → criar/atualizar pedido.\n4. Confirmar entrega/retirada, destinatário, endereço e mensagem no cartão.\n5. Gerar checkout → enviar link de pagamento.\n\nFORMATO DE RESPOSTA — SEMPRE JSON VÁLIDO:\n{\n  \"action\": \"search_catalog\",\n  \"agent_reply\": \"Texto da resposta para o cliente\",\n  \"agent_stage\": \"identificando_necessidade\",\n  \"search_query\": \"\",\n  \"occasion_filter\": \"dia_das_maes\",\n  \"order_id\": \"\",\n  \"order_data\": {\n    \"fulfillment_type\": \"delivery | pickup\",\n    \"recipient_name\": \"\",\n    \"gift_message\": \"\",\n    \"desired_date\": \"\",\n    \"add_items\": []\n  },\n  \"checkout_data\": {\n    \"payment_method\": \"pix | mercado_pago | pay_on_delivery | pay_on_pickup\"\n  }\n}`;\n\nconst USER_CONTEXT = `CONTEXTO DO ATENDIMENTO:\nCliente: ${customerName} | Telefone: ${phone} | ${isExisting ? 'Cliente cadastrado' : 'Novo cliente'}\nEstágio conversa: ${convStage}\n${orderContext}\nHistórico recente:\\n${historyText || '(primeira mensagem)'}\n\nMENSAGEM ATUAL DO CLIENTE:\n${enrichedInput || '(sem texto)'}`;\n\nreturn [{\n  json: {\n    ...norm,\n    system_prompt: SYSTEM_PROMPT,\n    user_context: USER_CONTEXT,\n    conversation_id: conversationId,\n    customer_id: customerId,\n    ctx_stage: convStage,\n    current_order_id: currentOrderId,\n    current_order_public_code: currentOrderCode,\n    transcription: norm.transcription || null,\n    visual_description: norm.visual_description || null,\n    human_lock: humanLock\n  }\n}];"
      },
      "id": "ed5839e1-f640-417c-887f-8da840f28fc0",
      "name": "CODE: PREPARA PROMPT | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8048, -1160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://flordoestudante.com.br"
            },
            {
              "name": "X-Title",
              "value": "Flor do Estudante Agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'google/gemini-2.5-flash', temperature: 0.3, max_tokens: 800, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: $json.system_prompt || 'Você é uma atendente virtual da Flor do Estudante. Responda sempre em JSON válido.' }, { role: 'user', content: $json.user_context || 'Cliente enviou uma mensagem sem contexto.' }] }) }}",
        "options": {}
      },
      "id": "7a7ce3f6-4c98-4a6b-ab64-fd35b97c8bed",
      "name": "HTTP: OPENROUTER CHAT | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-7824, -1160],
      "credentials": {
        "openRouterApi": {
          "id": "4BdzzO60z91H2fqA",
          "name": "openrouter_cloudfy"
        }
      },
      "notes": "Uses OpenRouter HTTP for chat completions — maintains JSON mode stability."
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst norm = $('CODE: PREPARA PROMPT | S6').item.json || {};\nconst llmResp = $json || {};\n\nconst VALID_ACTIONS = ['ask_info','search_catalog','create_order_draft','update_order_draft','prepare_checkout','parse_whatsapp_cart','handoff_human'];\nconst VALID_STAGES = ['new','smalltalk','identificando_necessidade','coletando_ocasiao','coletando_preferencia','coletando_orcamento','consultando_catalogo','buscando_opcoes','apresentando_opcoes','pedido_em_montagem','confirmando_pedido','coletando_entrega_ou_retirada','coletando_destinatario','coletando_mensagem_cartao','finalizando_pagamento','aguardando_pagamento','aguardando_confirmacao_humana','handoff','human_takeover','finalizado','erro'];\n\nlet parsed = null;\nlet rawContent = '';\n\ntry {\n  rawContent = llmResp.choices?.[0]?.message?.content || '{}';\n  try { parsed = JSON.parse(rawContent); } catch (_) {}\n  if (!parsed) {\n    const m = rawContent.match(/```(?:json)?\\s*([\\s\\S]+?)```/);\n    if (m) { try { parsed = JSON.parse(m[1]); } catch (_) {} }\n  }\n  if (!parsed) {\n    const m2 = rawContent.match(/\\{[\\s\\S]+\\}/);\n    if (m2) { try { parsed = JSON.parse(m2[0]); } catch (_) {} }\n  }\n} catch (e) {\n  parsed = null;\n}\n\nif (!parsed || typeof parsed !== 'object') {\n  return [{\n    json: {\n      ...norm,\n      agent_action: 'ask_info',\n      agent_reply: 'Desculpe, tive um pequeno problema. Pode repetir sua mensagem? 🌸',\n      agent_stage: norm.ctx_stage || 'identificando_necessidade',\n      parse_error: true,\n      raw_content: String(rawContent || '').substring(0, 500)\n    }\n  }];\n}\n\nconst action = VALID_ACTIONS.includes(parsed.action) ? parsed.action : 'ask_info';\nconst stage = VALID_STAGES.includes(parsed.agent_stage) ? parsed.agent_stage : (norm.ctx_stage || 'identificando_necessidade');\nconst reply = (parsed.agent_reply || '').toString().trim();\n\nif (!reply && action === 'ask_info') {\n  return [{\n    json: {\n      ...norm,\n      agent_action: 'ask_info',\n      agent_reply: 'Olá! 🌸 Como posso te ajudar hoje?',\n      agent_stage: stage,\n      parse_error: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...norm,\n    agent_action: action,\n    agent_reply: reply || '(aguardando dados)',\n    agent_stage: stage,\n    search_query: parsed.search_query || '',\n    occasion_filter: parsed.occasion_filter || '',\n    order_id: parsed.order_id || norm.current_order_id || null,\n    order_data: parsed.order_data || null,\n    checkout_data: parsed.checkout_data || null,\n    parse_error: false\n  }\n}];"
      },
      "id": "10b05817-10c8-4943-9693-840fd12a4811",
      "name": "CODE: PARSE JSON AGENTE | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-7600, -1160]
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst parsed = $json || {};\nconst norm = $('NORMALIZA PAYLOAD WHATSAPP | S6').first().json || {};\n\nconst msg = String(norm.message_text_normalized || norm.message_text || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\nconst stage = String(parsed.agent_stage || parsed.ctx_stage || '').toLowerCase();\n\nconst strongBuyIntent = /\\b(vou querer|vou levar|pode ser|pode montar|pode fechar|fecha esse|fechar esse|esse mesmo|essa mesmo|escolho|fico com|manda esse|manda essa)\\b/i.test(msg);\nconst weakBuyIntent = /\\b(quero|queria)\\b/i.test(msg);\nconst hasProductHint = /\\b(cesta|cafe da manha|buque|rosas|girassol|arranjo)\\b/i.test(msg);\nconst isChoosingFromOptions = ['apresentando_opcoes', 'buscando_opcoes', 'consultando_catalogo'].includes(stage);\n\nconst shouldCreateOrder = hasProductHint && (strongBuyIntent || (weakBuyIntent && isChoosingFromOptions));\n\nlet cleanQuery = msg\n  .replace(/\\b(sim|por favor|obrigado|obrigada|vou querer|vou levar|quero|queria|pode ser|pode montar|pode fechar|fecha esse|fechar esse|esse mesmo|essa mesmo|escolho|fico com|manda esse|manda essa)\\b/gi, ' ')\n  .replace(/\\b(a|o|um|uma|de|da|do|para|pra)\\b/gi, ' ')\n  .replace(/[^\\p{L}\\p{N}\\s]/gu, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!cleanQuery && parsed.search_query) cleanQuery = String(parsed.search_query).trim();\n\nif (shouldCreateOrder) {\n  return [{\n    json: {\n      ...parsed,\n      agent_action: 'search_catalog',\n      agent_stage: 'pedido_em_montagem',\n      agent_reply: 'Perfeito, vou montar esse pedido para você 🌸',\n      search_query: cleanQuery || parsed.search_query || norm.message_text || '',\n      occasion_filter: parsed.occasion_filter || 'dia_das_maes',\n      force_create_order_after_catalog: true,\n      detected_buy_intent: true\n    }\n  }];\n}\n\nreturn [{ json: { ...parsed, force_create_order_after_catalog: false, detected_buy_intent: false } }];"
      },
      "id": "47d2eda7-b1cf-4512-bd1d-586edd4d12c7",
      "name": "CODE: DETECTA ESCOLHA DE PRODUTO | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-7376, -1160]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "search_catalog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d5f2d07-ce46-49ef-8f9f-72545724a2f2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "create_order_draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6eb49c6f-42ed-464d-aa0d-b6f6576f64a5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "update_order_draft",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "da0badae-3c2e-4252-8a19-b05da4bbe921"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "parse_whatsapp_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6256f50c-640a-4a0a-b384-950f96b08d41"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "prepare_checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "64ad045c-58a3-4a99-a15d-64b7058da0f1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent_action }}",
                    "rightValue": "handoff_human",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "167a7f23-7ade-4ef7-8a49-a1f2cce9d533"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "17e9a4dc-ee63-4625-ba04-d7f72ae4c4fa",
      "name": "SWITCH ACTION | S6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-7152, -1240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/search_ready_catalog_for_agent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_query: $json.search_query || $json.message_text || '', p_occasion: $json.occasion_filter || 'dia_das_maes', p_limit: 5 }) }}",
        "options": {}
      },
      "id": "9349aba1-d44a-4b8e-8bde-b2890d0de9a0",
      "name": "HTTP: SEARCH CATALOG | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-6928, -1688],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst agentCtx = $('CODE: DETECTA ESCOLHA DE PRODUTO | S6').first().json || {};\nconst inputItems = $input.all();\nconst catalogBase = String($vars.CATALOG_BASE_URL || 'https://flordoestudante-floricultura-web.vercel.app').replace(/\\/+$/, '');\n\nlet products = [];\nfor (const item of inputItems) {\n  const d = item.json;\n  if (!d || d.error) continue;\n  if (Array.isArray(d)) { products.push(...d); continue; }\n  if (Array.isArray(d.items)) { products.push(...d.items); continue; }\n  if (Array.isArray(d.products)) { products.push(...d.products); continue; }\n  if (Array.isArray(d.catalog_items)) { products.push(...d.catalog_items); continue; }\n  if (d.name || d.slug || d.item_id || d.id) products.push(d);\n}\n\nconst seen = new Set();\nproducts = products.filter((p) => {\n  const key = String(p.item_id || p.id || p.slug || p.name || '');\n  if (!key || seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nproducts.sort((a, b) => {\n  const scoreA = Number(a.match_score || 0);\n  const scoreB = Number(b.match_score || 0);\n  if (scoreB !== scoreA) return scoreB - scoreA;\n  const imgA = a.cover_image_url ? 1 : 0;\n  const imgB = b.cover_image_url ? 1 : 0;\n  if (imgB !== imgA) return imgB - imgA;\n  return Number(a.price || 999999) - Number(b.price || 999999);\n});\n\nconst topProducts = products.slice(0, 3);\nconst sourceText = String($('NORMALIZA PAYLOAD WHATSAPP | S6').first().json.message_text_normalized || $('NORMALIZA PAYLOAD WHATSAPP | S6').first().json.message_text || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nfunction normalizeText(value) {\n  return String(value || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').trim();\n}\n\nfunction productMatchesMessage(product) {\n  const name = normalizeText(product.name);\n  const slug = normalizeText(product.slug).replace(/-/g, ' ');\n  if (!name && !slug) return false;\n  return sourceText.includes(name) || sourceText.includes(slug) || (name.includes('cesta') && sourceText.includes('cesta')) || (name.includes('cafe') && sourceText.includes('cafe'));\n}\n\nconst selectedProduct = topProducts.find(productMatchesMessage) || topProducts[0] || null;\n\nif (agentCtx.force_create_order_after_catalog && selectedProduct) {\n  const price = Number(selectedProduct.price || 0);\n  return [{\n    json: {\n      ...agentCtx,\n      agent_action: 'create_order_draft',\n      agent_stage: 'pedido_em_montagem',\n      selected_product: selectedProduct,\n      selected_product_id: selectedProduct.item_id || selectedProduct.id,\n      selected_product_name: selectedProduct.name,\n      catalog_results: [selectedProduct],\n      all_catalog_results: products,\n      has_catalog_images: Boolean(selectedProduct.cover_image_url),\n      first_image_product: selectedProduct.cover_image_url ? selectedProduct : null,\n      order_data: {\n        occasion: agentCtx.occasion_filter || 'dia_das_maes',\n        source: 'whatsapp_agent',\n        items: [{\n          item_type: selectedProduct.item_type || 'product',\n          item_id: selectedProduct.item_id || selectedProduct.id,\n          product_id: selectedProduct.item_type === 'product' ? (selectedProduct.item_id || selectedProduct.id) : null,\n          addon_id: selectedProduct.item_type === 'addon' ? (selectedProduct.item_id || selectedProduct.id) : null,\n          name: selectedProduct.name,\n          slug: selectedProduct.slug,\n          quantity: 1,\n          unit_price: price,\n          total_price: price\n        }]\n      },\n      agent_reply: `Perfeito, vou montar o pedido da *${selectedProduct.name}* para o Dia das Mães 🌸\\n\\nPara continuar, você prefere *entrega* ou *retirada na loja*?`\n    }\n  }];\n}\n\nconst imageProducts = topProducts.filter(p => p.cover_image_url);\n\nfunction formatPrice(value) {\n  const num = Number(value || 0);\n  if (!num) return '';\n  return num.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nif (topProducts.length === 0) {\n  return [{\n    json: {\n      ...agentCtx,\n      agent_action: agentCtx.agent_action || 'ask_info',\n      agent_stage: agentCtx.agent_stage || 'buscando_opcoes',\n      agent_reply: 'Não encontrei uma opção exata para essa busca agora, mas posso te mostrar algumas sugestões para o Dia das Mães 🌸',\n      catalog_results: [],\n      has_catalog_images: false,\n      first_image_product: null,\n      catalog_base: catalogBase,\n      catalog_count: 0\n    }\n  }];\n}\n\nconst lines = topProducts.map((p, i) => {\n  const label = i === 0 ? '🌸' : i === 1 ? '💐' : '🌷';\n  const price = formatPrice(p.price);\n  const url = p.slug ? `${catalogBase}/produto/${p.slug}` : '';\n  const description = p.short_description || p.description || '';\n  return [`${label} *${p.name || 'Produto'}*${price ? ' — ' + price : ''}`, description || '', url ? `🔗 ${url}` : ''].filter(Boolean).join('\\n');\n});\n\nconst intro = agentCtx.agent_reply && !agentCtx.agent_reply.includes('Não encontrei') ? agentCtx.agent_reply : 'Encontrei algumas opções para o Dia das Mães 🌸';\nconst replyText = `${intro}\\n\\n${lines.join('\\n\\n')}\\n\\nGostou de alguma dessas opções?`;\n\nreturn [{\n  json: {\n    ...agentCtx,\n    agent_action: 'search_catalog',\n    agent_stage: 'apresentando_opcoes',\n    agent_reply: replyText,\n    catalog_results: topProducts,\n    all_catalog_results: products,\n    has_catalog_images: imageProducts.length > 0,\n    first_image_product: imageProducts[0] || null,\n    catalog_base: catalogBase,\n    catalog_count: products.length\n  }\n}];"
      },
      "id": "2e761628-a4b4-4818-a4fb-30af029db14b",
      "name": "CODE: FORMATA CATÁLOGO | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-6704, -1688]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41d98b1e-ef7f-4cc8-a87e-b4bd74c5a677",
              "leftValue": "={{ $json.agent_action === 'create_order_draft' || $json.force_create_order_after_catalog === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e8e6adb-83a7-49b2-81d7-e25b59185b9d",
      "name": "É PEDIDO RASCUNHO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-6480, -1688]
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst ctx = $json || {};\n\nfunction money(value) {\n  return Number(value || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nconst selected = ctx.selected_product || (Array.isArray(ctx.catalog_results) ? ctx.catalog_results[0] : null) || ctx.first_image_product || null;\n\nif (!selected) {\n  return [{\n    json: {\n      ...ctx,\n      agent_action: 'ask_info',\n      agent_stage: 'buscando_opcoes',\n      agent_reply: 'Perfeito! Só preciso confirmar qual produto você escolheu para montar o pedido 🌸',\n      order_data: ctx.order_data || {},\n      suggested_addons: [],\n      can_create_order: false\n    }\n  }];\n}\n\nconst allResults = Array.isArray(ctx.all_catalog_results) ? ctx.all_catalog_results : Array.isArray(ctx.catalog_results) ? ctx.catalog_results : [];\n\nconst suggestedAddons = allResults\n  .filter((item) => {\n    if (!item || item.item_type !== 'addon' || !item.name) return false;\n    const name = String(item.name).toLowerCase();\n    return name.includes('cart') || name.includes('chocolate') || name.includes('vela') || name.includes('pelúcia') || name.includes('pelucia') || name.includes('urso') || name.includes('balão') || name.includes('balao');\n  })\n  .slice(0, 3)\n  .map((item) => ({\n    item_type: item.item_type || 'addon',\n    item_id: item.item_id || item.id,\n    addon_id: item.item_id || item.id,\n    name: item.name,\n    slug: item.slug,\n    quantity: 1,\n    unit_price: Number(item.price || 0),\n    total_price: Number(item.price || 0),\n    short_description: item.short_description || item.description || ''\n  }));\n\nconst unitPrice = Number(selected.price || 0);\n\nconst primaryItem = {\n  item_type: selected.item_type || 'product',\n  item_id: selected.item_id || selected.id,\n  product_id: selected.item_type === 'product' ? (selected.item_id || selected.id) : null,\n  addon_id: selected.item_type === 'addon' ? (selected.item_id || selected.id) : null,\n  name: selected.name,\n  slug: selected.slug,\n  quantity: 1,\n  unit_price: unitPrice,\n  total_price: unitPrice,\n  short_description: selected.short_description || selected.description || ''\n};\n\nconst orderData = {\n  ...(ctx.order_data || {}),\n  occasion: ctx.order_data?.occasion || ctx.occasion_filter || 'dia_das_maes',\n  is_gift: ctx.order_data?.is_gift ?? true,\n  fulfillment_type: ctx.order_data?.fulfillment_type || null,\n  items: [primaryItem],\n  suggested_addons: suggestedAddons,\n  selected_product: {\n    id: selected.id,\n    item_id: selected.item_id || selected.id,\n    item_type: selected.item_type,\n    name: selected.name,\n    slug: selected.slug,\n    price: unitPrice,\n    cover_image_url: selected.cover_image_url || ''\n  }\n};\n\nreturn [{\n  json: {\n    ...ctx,\n    agent_action: 'create_order_draft',\n    agent_stage: 'pedido_em_montagem',\n    selected_product: selected,\n    selected_product_id: selected.item_id || selected.id,\n    selected_product_name: selected.name,\n    order_data: orderData,\n    suggested_addons: suggestedAddons,\n    can_create_order: true,\n    order_summary_preview: {\n      product_name: selected.name,\n      product_price: money(unitPrice),\n      suggested_addons: suggestedAddons.map(a => ({ name: a.name, price: money(a.unit_price) }))\n    }\n  }\n}];"
      },
      "id": "3ec5de2d-8796-4f3b-bfb5-6682d9ffe0bc",
      "name": "CODE: PREPARA ORDER DRAFT | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-6256, -1448]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "can-create-order",
              "leftValue": "={{ $json.can_create_order === true && Array.isArray($json.order_data?.items) && $json.order_data.items.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ca363f6-f1a7-41d8-8da3-b754a47ca3af",
      "name": "IF: TEM ITEM PARA PEDIDO? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-6032, -1448]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_create_order_draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_customer_id: $json.customer_id, p_conversation_id: $json.conversation_id, p_fulfillment_type: $json.order_data?.fulfillment_type || null, p_occasion: $json.order_data?.occasion || 'dia_das_maes', p_items: $json.order_data?.items || [], p_recipient_name: $json.order_data?.recipient_name || null, p_is_gift: $json.order_data?.is_gift ?? true, p_gift_message: $json.order_data?.gift_message || null }) }}",
        "options": {}
      },
      "id": "08be3088-91ec-4be9-a0c0-64c8740ebcfa",
      "name": "HTTP: CREATE ORDER DRAFT | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-5808, -1592],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst ctx = $('CODE: PREPARA ORDER DRAFT | S6').first().json || {};\nconst res = $json || {};\n\nfunction money(value) {\n  return Number(value || 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n}\n\nconst selected = ctx.selected_product || ctx.order_data?.selected_product || {};\nconst addons = Array.isArray(ctx.suggested_addons) ? ctx.suggested_addons : [];\n\nconst orderId = res.order_id || res.id || res.order?.id || ctx.order_id || null;\nconst publicCode = res.public_code || res.order_public_code || res.order?.public_code || ctx.public_code || null;\n\nlet addonText = '';\nif (addons.length > 0) {\n  const addonList = addons.slice(0, 3).map((a) => `*${a.name}* (${money(a.unit_price)})`).join(', ');\n  addonText = `\\n\\nSe quiser deixar o presente ainda mais especial, também posso incluir ${addonList}.`;\n}\n\nconst productName = selected.name || ctx.selected_product_name || 'esse produto';\nconst productPrice = selected.price ? ` — ${money(selected.price)}` : '';\n\nconst reply = [\n  `Perfeito! Já montei o pedido da *${productName}*${productPrice} para o Dia das Mães 🌸`,\n  addonText,\n  `\\n\\nAgora me diga: você prefere *entrega* ou *retirada na loja*?`\n].join('');\n\nreturn [{\n  json: {\n    ...ctx,\n    ...res,\n    order_id: orderId,\n    public_code: publicCode,\n    agent_action: 'update_order_draft',\n    agent_stage: 'coletando_entrega_ou_retirada',\n    agent_reply: reply,\n    order_data: { ...(ctx.order_data || {}), order_id: orderId, public_code: publicCode },\n    suggested_addons: addons,\n    selected_product: selected\n  }\n}];"
      },
      "id": "a04cad2e-0f80-44bb-aa77-53c07d016b4a",
      "name": "CODE: RESOLVE ORDER DRAFT REPLY | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -1592]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $json.has_catalog_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1c68567-2a0d-4a43-8c8f-e7b12936f1b7",
      "name": "IF: ENVIA IMAGEM CATÁLOGO? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-6032, -1784]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cheatingbat-evolution.cloudfy.live/message/sendMedia/julia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone_normalized, mediatype: 'image', mimetype: 'image/jpeg', media: $json.first_image_product && $json.first_image_product.cover_image_url ? $json.first_image_product.cover_image_url : '', caption: $json.first_image_product && $json.first_image_product.name ? $json.first_image_product.name : 'Opção da Flor do Estudante 🌸', fileName: (($json.first_image_product && $json.first_image_product.slug) ? $json.first_image_product.slug : 'produto') + '.jpg' }) }}",
        "options": {}
      },
      "id": "e7c30346-0c6f-4c81-a022-21eb42517ac6",
      "name": "HTTP: EVOLUTION SEND IMAGE | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-5808, -1904],
      "credentials": {
        "evolutionApi": {
          "id": "hUhH7ahIVjr2lysL",
          "name": "evolution_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst src = $('CODE: FORMATA CATÁLOGO | S6').item.json || {};\nconst imageWasAttempted = Boolean(src.has_catalog_images && src.first_image_product?.cover_image_url);\n\nreturn [{\n  json: {\n    ...src,\n    image_attempted: imageWasAttempted,\n    image_sent: imageWasAttempted\n  }\n}];"
      },
      "id": "558a54e5-b8dd-4757-8187-3becb630a942",
      "name": "CODE: MERGE CATALOG | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -1784]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_update_order_draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_order_id: $json.order_id || $json.order_data?.order_id || $json.current_order_id || null, p_fulfillment_type: $json.order_data?.fulfillment_type || null, p_recipient_name: $json.order_data?.recipient_name || null, p_is_gift: $json.order_data?.is_gift ?? null, p_gift_message: $json.order_data?.gift_message || null, p_occasion: $json.order_data?.occasion || null, p_desired_date: $json.order_data?.desired_date || null, p_add_items: $json.order_data?.add_items || [] }) }}",
        "options": {}
      },
      "id": "8c36cb03-9f39-4173-a4a7-f0b7c8dfac64",
      "name": "HTTP: UPDATE ORDER DRAFT | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-5808, -1304],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst agentCtx = $('CODE: DETECTA ESCOLHA DE PRODUTO | S6').first().json || {};\nconst result = $json || {};\n\nreturn [{\n  json: {\n    ...agentCtx,\n    ...result,\n    order_id: result.order_id || agentCtx.order_id || agentCtx.order_data?.order_id || null,\n    public_code: result.public_code || agentCtx.public_code || agentCtx.order_data?.public_code || null,\n    agent_reply: result.ok === false\n      ? (agentCtx.agent_reply || 'Certo 🌸') + '\\n_(houve um problema ao atualizar o pedido, vamos continuar)_'\n      : (agentCtx.agent_reply || 'Perfeito, atualizei o pedido por aqui 🌸'),\n    agent_action: 'update_order_draft',\n    agent_stage: agentCtx.agent_stage || 'pedido_em_montagem'\n  }\n}];"
      },
      "id": "8bd42825-4ec6-47c2-acd9-7d40abb89ca5",
      "name": "CODE: MERGE UPDATE ORDER | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -1304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_parse_whatsapp_cart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_phone_normalized: $json.phone_normalized, p_cart_payload: $json.full_payload?.data?.message?.orderMessage || $json.full_payload?.data?.message || {} }) }}",
        "options": {}
      },
      "id": "3ee400ae-6c32-4cfd-b54b-6651c60be5e5",
      "name": "HTTP: PARSE CART | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-5808, -1016],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst agentCtx = $('CODE: DETECTA ESCOLHA DE PRODUTO | S6').first().json || {};\nconst result = $json || {};\nconst matchedCount = result.items?.filter(i => i.matched)?.length || 0;\nconst totalCount = result.item_count || result.items?.length || 0;\n\nreturn [{\n  json: {\n    ...agentCtx,\n    ...result,\n    cart_batch_id: result.batch_id || null,\n    cart_matched: matchedCount,\n    cart_total: totalCount,\n    agent_action: 'parse_whatsapp_cart',\n    agent_stage: 'confirmando_pedido',\n    agent_reply: matchedCount > 0\n      ? (agentCtx.agent_reply || 'Identifiquei os itens do seu carrinho. Posso confirmar o pedido?')\n      : (agentCtx.agent_reply || 'Identifiquei os itens do seu carrinho.') + '\\n\\nPosso confirmar o pedido?'\n  }\n}];"
      },
      "id": "8f5ca54f-615a-44cb-8aee-48447844ef8a",
      "name": "CODE: MERGE CART | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -1016]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_prepare_checkout",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_order_id: $json.order_id || $json.order_data?.order_id || $json.current_order_id || null, p_payment_method: $json.checkout_data?.payment_method || null, p_catalog_base_url: String($vars.CATALOG_BASE_URL || 'https://flordoestudante-floricultura-web.vercel.app').replace(/\\/+$/, '') }) }}",
        "options": {}
      },
      "id": "8b448858-fe0e-4473-9af4-86dfa456e23c",
      "name": "HTTP: PREPARE CHECKOUT | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-5808, -824],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst agentCtx = $('CODE: DETECTA ESCOLHA DE PRODUTO | S6').first().json || {};\nconst result = $json || {};\n\nif (!result.ok) {\n  return [{\n    json: {\n      ...agentCtx,\n      ...result,\n      agent_reply: (agentCtx.agent_reply || '') + '\\n\\n_(Houve um erro ao gerar o link de pagamento. Entre em contato conosco.)_',\n      checkout_ok: false,\n      agent_stage: 'erro'\n    }\n  }];\n}\n\nconst checkoutUrl = result.checkout_url || '';\nconst summary = result.order_summary_text || '';\n\nconst replyLines = [\n  agentCtx.agent_reply || summary,\n  '',\n  summary !== agentCtx.agent_reply ? summary : '',\n  '',\n  checkoutUrl ? `💳 *Link de pagamento:*\\n${checkoutUrl}` : '',\n  '',\n  'Após o pagamento, seu pedido será confirmado. Qualquer dúvida, é só chamar! 🌸'\n].filter(l => l !== null && l !== undefined && l !== '');\n\nreturn [{\n  json: {\n    ...agentCtx,\n    ...result,\n    agent_reply: replyLines.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim(),\n    checkout_url: checkoutUrl,\n    checkout_ok: true,\n    agent_action: 'prepare_checkout',\n    agent_stage: 'finalizando_pagamento',\n    public_code: result.public_code || agentCtx.public_code || null\n  }\n}];"
      },
      "id": "fd43e994-8d42-4203-a52f-fbf51f1640f2",
      "name": "CODE: MERGE CHECKOUT | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -824]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_trigger_handoff",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_conversation_id: $json.conversation_id, p_reason: $json.agent_action === 'handoff_human' ? 'requested_by_customer' : 'agent_decision', p_agent_note: ($json.agent_reply || '').substring(0, 200), p_customer_id: $json.customer_id || null }) }}",
        "options": {}
      },
      "id": "674ba3b0-8a92-4205-b8a8-7f96b8734805",
      "name": "HTTP: TRIGGER HANDOFF | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-6032, -632],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'flor:human_lock:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "id": "6d1cf750-b7fb-4a6c-9df7-6ef6f1a8d7f3",
      "name": "REDIS: SET HUMAN LOCK | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-5808, -632],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst agentCtx = $('CODE: DETECTA ESCOLHA DE PRODUTO | S6').first().json || {};\nconst result = $json || {};\n\nreturn [{\n  json: {\n    ...agentCtx,\n    ...result,\n    human_lock_set: true,\n    agent_action: 'handoff_human',\n    agent_stage: 'handoff',\n    agent_reply: agentCtx.agent_reply || 'Certo, vou chamar uma pessoa da equipe para te ajudar por aqui 🌸'\n  }\n}];"
      },
      "id": "d1698b00-fe1c-4975-b963-1480cd872eb9",
      "name": "CODE: MERGE HANDOFF | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5584, -632]
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst src = $json || {};\nconst norm = $('NORMALIZA PAYLOAD WHATSAPP | S6').first().json || {};\nconst prompt = $('CODE: PREPARA PROMPT | S6').first().json || {};\n\nconst fallbackReply = 'Olá! 🌸 Tive um probleminha técnico por aqui. Pode repetir sua mensagem?';\n\nreturn [{\n  json: {\n    ...src,\n    phone_normalized: src.phone_normalized || norm.phone_normalized || '',\n    push_name: src.push_name || norm.push_name || '',\n    conversation_id: src.conversation_id || prompt.conversation_id || null,\n    customer_id: src.customer_id || prompt.customer_id || null,\n    agent_reply: String(src.agent_reply || fallbackReply).trim(),\n    agent_action: src.agent_action || 'ask_info',\n    agent_stage: src.agent_stage || src.ctx_stage || prompt.ctx_stage || 'identificando_necessidade',\n    order_id: src.order_id || src.created_order_id || src.order_data?.order_id || prompt.current_order_id || null,\n    public_code: src.public_code || src.created_order_code || src.order_data?.public_code || prompt.current_order_public_code || null,\n    checkout_url: src.checkout_url || null,\n    catalog_results: src.catalog_results || [],\n    selected_product: src.selected_product || null,\n    suggested_addons: src.suggested_addons || [],\n    technical_notes: src.technical_notes || []\n  }\n}];"
      },
      "id": "24d6342f-b76b-4c59-825a-1eaff3ece621",
      "name": "CODE: NORMALIZA SAÍDA FINAL | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5360, -1136]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'flor:session:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}",
        "value": "={{ JSON.stringify({ stage: $json.agent_stage, last_action: $json.agent_action, agent_reply: $json.agent_reply, order_id: $json.order_id || null, public_code: $json.public_code || null, ts: Date.now() }) }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "e06201e5-4b25-4b48-91d0-26f8193b2f22",
      "name": "REDIS: SET SESSION | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-5136, -1136],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_register_agent_exchange",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_phone_normalized: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized, p_push_name: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.push_name, p_channel: 'whatsapp', p_external_contact_id: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.external_contact_id || ($('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized + '@s.whatsapp.net'), p_instance: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.instance, p_message_type: $('CODE: MONTA CONTEXTO | S6').item.json.message_type, p_message_body: $('CODE: MONTA CONTEXTO | S6').item.json.message_text, p_media_url: $('CODE: MONTA CONTEXTO | S6').item.json.media_url || '', p_raw_payload: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.raw_payload, p_agent_reply: $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json.agent_reply, p_agent_action: $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json.agent_action, p_agent_stage: $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json.agent_stage, p_customer_id: $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json.customer_id || null, p_conversation_id: $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json.conversation_id || null, p_transcription: $('CODE: MONTA CONTEXTO | S6').item.json.transcription || null, p_visual_description: $('CODE: MONTA CONTEXTO | S6').item.json.visual_description || null }) }}",
        "options": {}
      },
      "id": "e07f64c2-0190-45a3-9e3f-76fe4772c445",
      "name": "HTTP: REGISTRA EXCHANGE | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-4912, -1136],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\nconst finalOut = $('CODE: NORMALIZA SAÍDA FINAL | S6').item.json || {};\nconst phoneNorm = $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized;\n\nreturn [{\n  json: {\n    agent_reply: finalOut.agent_reply || 'Olá! 🌸 Tive um probleminha técnico. Pode repetir sua mensagem?',\n    phone_normalized: finalOut.phone_normalized || phoneNorm\n  }\n}];"
      },
      "id": "001fbe3d-b61a-4a37-be83-5b9bd6cbf672",
      "name": "CODE: RESOLVE REPLY | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4688, -1136]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cheatingbat-evolution.cloudfy.live/message/sendText/julia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone_normalized, text: $json.agent_reply, options: { delay: 500, presence: 'composing' } }) }}",
        "options": {}
      },
      "id": "01696891-5d6c-4f15-bf34-d2504ce4c966",
      "name": "ENVIA RESPOSTA EVOLUTION | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-4464, -1136],
      "credentials": {
        "evolutionApi": {
          "id": "hUhH7ahIVjr2lysL",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-reset-command",
              "leftValue": "={{ ['/deletar', '/reset', 'deletar', 'reset'].includes(($json.message_text_normalized || $json.message_text || '').trim().toLowerCase()) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6485718b-b35b-4502-b8e7-88b17032abbf",
      "name": "IF: COMANDO /DELETAR? | S6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-13424, -1328]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:buffer:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "69965ff7-8ec1-4612-a35d-99aad201fe14",
      "name": "REDIS: DEL BUFFER TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-13200, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:last_msg_id:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "157655cb-0996-4b72-b3c0-cbb931057443",
      "name": "REDIS: DEL LAST MSG ID TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12976, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:session:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "2d81523b-bfef-4fd6-95cc-8468847fb368",
      "name": "REDIS: DEL SESSION TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12752, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:human_lock:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "0f7efede-3a62-4f6f-8640-b3d1cf5fcb73",
      "name": "REDIS: DEL HUMAN LOCK TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12528, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:current_order:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "aed21e5d-f246-4553-8dc3-cac968618256",
      "name": "REDIS: DEL CURRENT ORDER TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12304, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:sent_products:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "54a3e98f-cbcf-466e-a5b8-a6de349d4eaf",
      "name": "REDIS: DEL SENT PRODUCTS TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-12080, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:last_question:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "4286c915-1a08-4c50-8b25-ee46bd4a797c",
      "name": "REDIS: DEL LAST QUESTION TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-11856, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'flor:last_agent_output:' + $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized }}"
      },
      "id": "1bedd190-6d32-4562-8e60-a4b4c9b809a4",
      "name": "REDIS: DEL LAST AGENT OUTPUT TESTE | S6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-11632, -1376],
      "credentials": {
        "redis": {
          "id": "L3M7sVsK0xWc3qf3",
          "name": "redis_cloudfy"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nldwghtcewsgrzkbxcyx.supabase.co/rest/v1/rpc/flor_reset_conversation_for_testing",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept-Profile",
              "value": "public"
            },
            {
              "name": "Content-Profile",
              "value": "public"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_phone_normalized: $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json.phone_normalized,\n  p_channel: 'whatsapp',\n  p_reset_orders: true,\n  p_keep_customer: true\n}) }}",
        "options": {}
      },
      "id": "b6aa10b7-722e-43e1-8d69-5f174b642e3c",
      "name": "HTTP: RESET CONTEXTO SUPABASE TESTE | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-11408, -1376],
      "credentials": {
        "supabaseApi": {
          "id": "r7bNEcAkh4eOhoad",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// @ts-nocheck\n\nconst norm = $('NORMALIZA PAYLOAD WHATSAPP | S6').item.json || {};\nconst resetResult = $json || {};\n\nconst hasError = Boolean(\n  resetResult.error ||\n  resetResult.message?.toLowerCase?.().includes('error') ||\n  resetResult.ok === false\n);\n\nconst reply = hasError\n  ? 'Limpei o contexto local do teste ✅\\n\\nObs.: o reset no Supabase pode não ter sido concluído. Verifique se a RPC flor_reset_conversation_for_testing já existe.'\n  : 'Contexto apagado com sucesso ✅\\n\\nPode iniciar um novo teste do zero.';\n\nreturn [{\n  json: {\n    phone_normalized: norm.phone_normalized,\n    push_name: norm.push_name || '',\n    agent_action: 'reset_context',\n    agent_stage: 'new',\n    agent_reply: reply,\n    reset_result: resetResult,\n    skip_normal_flow: true\n  }\n}];"
      },
      "id": "eb787b8f-e609-4122-a3cd-cf89ee5fa23d",
      "name": "CODE: MONTA RESPOSTA RESET TESTE | S6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-11184, -1376]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cheatingbat-evolution.cloudfy.live/message/sendText/julia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: $json.phone_normalized,\n  text: $json.agent_reply,\n  options: {\n    delay: 300,\n    presence: 'composing'\n  }\n}) }}",
        "options": {}
      },
      "id": "78743217-63a3-4b03-a341-199f0f720ee6",
      "name": "ENVIA CONFIRMAÇÃO RESET EVOLUTION | S6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-10960, -1376],
      "credentials": {
        "evolutionApi": {
          "id": "hUhH7ahIVjr2lysL",
          "name": "evolution_cloudfy"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "WEBHOOK EVOLUTION | FLOR": {
      "main": [
        [
          {
            "node": "NORMALIZA PAYLOAD WHATSAPP | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NORMALIZA PAYLOAD WHATSAPP | S6": {
      "main": [
        [
          {
            "node": "DEVE PROCESSAR? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEVE PROCESSAR? | S6": {
      "main": [
        [
          {
            "node": "REDIS: GET HUMAN LOCK | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: COMANDO /DELETAR? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: GET HUMAN LOCK | S6": {
      "main": [
        [
          {
            "node": "HUMAN TAKEOVER ATIVO? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HUMAN TAKEOVER ATIVO? | S6": {
      "main": [
        [
          {
            "node": "REDIS: GET BUFFER ATUAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: GET BUFFER ATUAL | S6": {
      "main": [
        [
          {
            "node": "CODE: ATUALIZA BUFFER | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: ATUALIZA BUFFER | S6": {
      "main": [
        [
          {
            "node": "REDIS: SET BUFFER | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: SET BUFFER | S6": {
      "main": [
        [
          {
            "node": "REDIS: SET LAST MSG ID | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: SET LAST MSG ID | S6": {
      "main": [
        [
          {
            "node": "WAIT 2S | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT 2S | S6": {
      "main": [
        [
          {
            "node": "REDIS: GET LAST MSG ID | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: GET LAST MSG ID | S6": {
      "main": [
        [
          {
            "node": "AINDA É O MAIS RECENTE? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AINDA É O MAIS RECENTE? | S6": {
      "main": [
        [
          {
            "node": "REDIS: GET BUFFER FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: GET BUFFER FINAL | S6": {
      "main": [
        [
          {
            "node": "CODE: MONTA CONTEXTO | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MONTA CONTEXTO | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL BUFFER | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL BUFFER | S6": {
      "main": [
        [
          {
            "node": "IF: HAS AUDIO? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: HAS AUDIO? | S6": {
      "main": [
        [
          {
            "node": "CODE: PREP AUDIO | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: HAS IMAGE? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: PREP AUDIO | S6": {
      "main": [
        [
          {
            "node": "HTTP: EVOLUTION GET AUDIO | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: EVOLUTION GET AUDIO | S6": {
      "main": [
        [
          {
            "node": "CODE: AUDIO TO BINARY | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: AUDIO TO BINARY | S6": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE AUDIO | S6": {
      "main": [
        [
          {
            "node": "IF: HAS IMAGE? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: HAS IMAGE? | S6": {
      "main": [
        [
          {
            "node": "CODE: PREP IMAGE | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: SUPABASE GET CONTEXT | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: PREP IMAGE | S6": {
      "main": [
        [
          {
            "node": "HTTP: OPENAI VISION | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: OPENAI VISION | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE IMAGE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE IMAGE | S6": {
      "main": [
        [
          {
            "node": "HTTP: SUPABASE GET CONTEXT | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "CODE: MERGE AUDIO | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: SUPABASE GET CONTEXT | S6": {
      "main": [
        [
          {
            "node": "CODE: PREPARA PROMPT | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: PREPARA PROMPT | S6": {
      "main": [
        [
          {
            "node": "HTTP: OPENROUTER CHAT | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: OPENROUTER CHAT | S6": {
      "main": [
        [
          {
            "node": "CODE: PARSE JSON AGENTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: PARSE JSON AGENTE | S6": {
      "main": [
        [
          {
            "node": "CODE: DETECTA ESCOLHA DE PRODUTO | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: DETECTA ESCOLHA DE PRODUTO | S6": {
      "main": [
        [
          {
            "node": "SWITCH ACTION | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SWITCH ACTION | S6": {
      "main": [
        [
          {
            "node": "HTTP: SEARCH CATALOG | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE: PREPARA ORDER DRAFT | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: UPDATE ORDER DRAFT | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: PARSE CART | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: PREPARE CHECKOUT | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: TRIGGER HANDOFF | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: SEARCH CATALOG | S6": {
      "main": [
        [
          {
            "node": "CODE: FORMATA CATÁLOGO | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: FORMATA CATÁLOGO | S6": {
      "main": [
        [
          {
            "node": "É PEDIDO RASCUNHO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PEDIDO RASCUNHO?": {
      "main": [
        [
          {
            "node": "CODE: PREPARA ORDER DRAFT | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: ENVIA IMAGEM CATÁLOGO? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: PREPARA ORDER DRAFT | S6": {
      "main": [
        [
          {
            "node": "IF: TEM ITEM PARA PEDIDO? | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: TEM ITEM PARA PEDIDO? | S6": {
      "main": [
        [
          {
            "node": "HTTP: CREATE ORDER DRAFT | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: CREATE ORDER DRAFT | S6": {
      "main": [
        [
          {
            "node": "CODE: RESOLVE ORDER DRAFT REPLY | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: RESOLVE ORDER DRAFT REPLY | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ENVIA IMAGEM CATÁLOGO? | S6": {
      "main": [
        [
          {
            "node": "HTTP: EVOLUTION SEND IMAGE | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE: MERGE CATALOG | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: EVOLUTION SEND IMAGE | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE CATALOG | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE CATALOG | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: UPDATE ORDER DRAFT | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE UPDATE ORDER | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE UPDATE ORDER | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PARSE CART | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE CART | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE CART | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: PREPARE CHECKOUT | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE CHECKOUT | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE CHECKOUT | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: TRIGGER HANDOFF | S6": {
      "main": [
        [
          {
            "node": "REDIS: SET HUMAN LOCK | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: SET HUMAN LOCK | S6": {
      "main": [
        [
          {
            "node": "CODE: MERGE HANDOFF | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MERGE HANDOFF | S6": {
      "main": [
        [
          {
            "node": "CODE: NORMALIZA SAÍDA FINAL | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: NORMALIZA SAÍDA FINAL | S6": {
      "main": [
        [
          {
            "node": "REDIS: SET SESSION | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: SET SESSION | S6": {
      "main": [
        [
          {
            "node": "HTTP: REGISTRA EXCHANGE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: REGISTRA EXCHANGE | S6": {
      "main": [
        [
          {
            "node": "CODE: RESOLVE REPLY | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: RESOLVE REPLY | S6": {
      "main": [
        [
          {
            "node": "ENVIA RESPOSTA EVOLUTION | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: COMANDO /DELETAR? | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL BUFFER TESTE | S6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REDIS: GET HUMAN LOCK | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL BUFFER TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL LAST MSG ID TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL LAST MSG ID TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL SESSION TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL SESSION TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL HUMAN LOCK TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL HUMAN LOCK TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL CURRENT ORDER TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL CURRENT ORDER TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL SENT PRODUCTS TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL SENT PRODUCTS TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL LAST QUESTION TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL LAST QUESTION TESTE | S6": {
      "main": [
        [
          {
            "node": "REDIS: DEL LAST AGENT OUTPUT TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REDIS: DEL LAST AGENT OUTPUT TESTE | S6": {
      "main": [
        [
          {
            "node": "HTTP: RESET CONTEXTO SUPABASE TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: RESET CONTEXTO SUPABASE TESTE | S6": {
      "main": [
        [
          {
            "node": "CODE: MONTA RESPOSTA RESET TESTE | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE: MONTA RESPOSTA RESET TESTE | S6": {
      "main": [
        [
          {
            "node": "ENVIA CONFIRMAÇÃO RESET EVOLUTION | S6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "WEBHOOK EVOLUTION | FLOR": [
      {
        "headers": {
          "host": "cheatingbat-n8n.cloudfy.live",
          "user-agent": "axios/1.13.2",
          "content-length": "1686",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "65.21.145.101",
          "cf-ipcountry": "FI",
          "cf-ray": "9f7bb0967c2b45e1-FRA",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "x-forwarded-for": "172.70.251.2",
          "x-forwarded-host": "cheatingbat-n8n.cloudfy.live",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "ff0c05b4ce47",
          "x-real-ip": "172.70.251.2"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "julia",
          "data": {
            "key": {
              "remoteJid": "554588230845@s.whatsapp.net",
              "remoteJidAlt": "554588230845@s.whatsapp.net",
              "fromMe": false,
              "id": "3A698636A23E94D50EE7",
              "participant": "",
              "addressingMode": "lid"
            },
            "pushName": "Mateus Manoel",
            "status": "DELIVERY_ACK",
            "message": {
              "messageContextInfo": {
                "threadId": [],
                "deviceListMetadata": {
                  "senderKeyIndexes": [],
                  "recipientKeyIndexes": [],
                  "senderKeyHash": {
                    "0": 117,
                    "1": 107,
                    "2": 38,
                    "3": 187,
                    "4": 66,
                    "5": 5,
                    "6": 158,
                    "7": 130,
                    "8": 15,
                    "9": 194
                  },
                  "senderTimestamp": {
                    "low": 1778070354,
                    "high": 0,
                    "unsigned": true
                  },
                  "recipientKeyHash": {
                    "0": 149,
                    "1": 173,
                    "2": 114,
                    "3": 170,
                    "4": 201,
                    "5": 59,
                    "6": 152,
                    "7": 121,
                    "8": 96,
                    "9": 25
                  },
                  "recipientTimestamp": {
                    "low": 1777074705,
                    "high": 0,
                    "unsigned": true
                  }
                },
                "deviceListMetadataVersion": 2,
                "messageSecret": {
                  "0": 188,
                  "1": 20,
                  "2": 114,
                  "3": 168,
                  "4": 100,
                  "5": 66,
                  "6": 17,
                  "7": 112,
                  "8": 208,
                  "9": 0,
                  "10": 87,
                  "11": 62,
                  "12": 92,
                  "13": 23,
                  "14": 244,
                  "15": 64,
                  "16": 189,
                  "17": 105,
                  "18": 81,
                  "19": 251,
                  "20": 85,
                  "21": 111,
                  "22": 120,
                  "23": 221,
                  "24": 119,
                  "25": 204,
                  "26": 253,
                  "27": 249,
                  "28": 22,
                  "29": 231,
                  "30": 168,
                  "31": 225
                }
              },
              "conversation": "Ela adora flores do campo"
            },
            "contextInfo": {
              "mentionedJid": [],
              "groupMentions": [],
              "statusAttributions": [],
              "expiration": 0,
              "ephemeralSettingTimestamp": {
                "low": 1776854751,
                "high": 0,
                "unsigned": false
              },
              "disappearingMode": {
                "initiator": 0,
                "trigger": 1,
                "initiatedByMe": true
              }
            },
            "messageType": "conversation",
            "messageTimestamp": 1778109356,
            "instanceId": "6224e364-e93d-41c9-ad2f-2640c75c8882",
            "source": "ios"
          },
          "destination": "https://cheatingbat-n8n.cloudfy.live/webhook/julia",
          "date_time": "2026-05-06T20:15:56.470Z",
          "sender": "554599029116@s.whatsapp.net",
          "server_url": "https://cheatingbat-evolution.cloudfy.live",
          "apikey": "142076B8F6DE-4EFF-A90A-A8EE05103C63"
        },
        "webhookUrl": "https://cheatingbat-n8n.cloudfy.live/webhook/julia",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65bec8ad9af329e8a89b63d8b92d775bc3b982584190ebd2d881725c81277167"
  }
}
